<div class="navbar navbar-expand-sm navbar-light navbar-cocktail">
  <i id="icon" class="fas fa-heart"></i>

  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search Cocktails" aria-label="Search">
    <span><i class='fas fa-search'></i></span>
  </form>

  <%= link_to "Add New Cocktail", new_cocktail_path, class: 'btn btn-flat' %>
</div>

<br>

<div class="container">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category" style="background-image:
        url('<%= cl_image_path cocktail.photo.key, height: 400, width: 300, crop: :fill %>')">
        <div class="card-description">
          <%= cocktail.name %>
        </div>
        <%= link_to "", cocktail_path(cocktail), class: 'card-link' %>
      </div>
    <% end %>
  </div>
</div>
